name: First GitHub Actions Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show Git info
        run: |
          echo "Commit message: ${{ github.event.head_commit.message }}"
          echo "Edited by: ${{ github.actor }}"

      - name: Fail if workflow file was edited
        run: |
          if git diff --name-only HEAD~1 | grep -q ".github/workflows"; then
            echo "❌ Workflow file was edited! Failing the build..."
            exit 1
          else
            echo "✅ Workflow not edited, all good!"
          fi  
          sss 


